body {
  background: linear-gradient(to bottom, #FAFAFA, #E0E1E1);
  color: #3F3F3F;
}

#sitetitle0 {
  color: black;
}

#sitetitle1 {
  color: #3F3F3F;
}

nav li a {
    border-right: 1px solid #3F3F3F;
}

nav li a:link {
  color: #3F3F3F;
}

nav li a:visited {
  color: #A2A2A3;
}

nav li a:active,
nav li a:hover {
  color: #38779c;
}

nav .here a:link,
nav .here a:visited {
  color: black;
}

/* A nifty little hack to replace the page-head image with a modified version
  that actually works with the colour scheme */
#banner {
  background: url(/img/bannerlight.png);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


/*and the content for the light-switch whatsit*/
#lightswitch:before {
  content: "Turn off the lights!";
}
