body {
  background: linear-gradient(to bottom, #050505, #1F1E1E);
  color: #white;
}

#sitetitle0 {
  color: white;
}

#sitetitle1 {
  color: #C0C0C0;
}

.nav li a {
  border-right: 1px solid #C0C0C0;
}

.nav li a:link {
  color: #C0C0C0;
}

.nav li a:visited {
  color: #5D5D5C;
}

.nav .here a:link,
.nav .here a:visited {
  color: white;
}

.nav li a:active,
.nav li a:hover {
  color: #4d94be;
}



#lightswitch:before {
  content: "Turn on the lights!";
}
