body {
  /* Background colours */
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F1E1E), to(#050505));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #050505, #1F1E1E);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #050505, #1F1E1E);
  /* IE 10 */
  background: -ms-linear-gradient(top, #050505, #1F1E1E);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #050505, #1F1E1E);

  color: #C0C0C0;
html {
  height: 100%;
}

body {
  font-family: fiftyShadesMock;
  height: 100%;
  margin: 0;
  padding: 0;
}

.outercontainer {
  min-height: 100%;
  position: relative;
}

@font-face {
  font-family: fiftyShadesMock;
  src: url(fonts/texgyreschola.otf);
}

div.header {
  width: 100%;
  height: 120px;
}

#banner {
  float: left;
  width: 316px;
  height: 163px;
}

#sitetitle {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
}

.clear {
  clear: both;
}

a.title {
  text-align: right;
  text-decoration: none;
}

h1 {
  font-family: fiftyShadesMock;
  line-height: 1;
  margin: 0px;
  text-align: right;
  font-size: 30pt;
}

#sitetitle0 {
  color: white;
.pagecontent {
  position: absolute;
  top: 165px;
  bottom: 70px;
  width: 90%;
  margin-left: 5%;
  margin-right: auto;
  padding-bottom: 60px;
  overflow: auto;
}

#sitetitle1 {
  color: #C0C0C0;
/* TODO: content w/ custom scrollbar */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center
}

.nav {
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

.nav li {
  float: left;
  list-style-type: none;
}

.nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
}

.nav li.lastnav a {
  border-right: none
}

#lightswitch {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 8pt;
  height: 8pt;
}
