body {
  /* Background colours */
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F1E1E), to(#050505));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #050505, #1F1E1E);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #050505, #1F1E1E);
  /* IE 10 */
  background: -ms-linear-gradient(top, #050505, #1F1E1E);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #050505, #1F1E1E);

  color: #C0C0C0;

  font-family: fiftyShadesMock;
}

@font-face {
  font-family: fiftyShadesMock;
  src: url(fonts/texgyreschola.otf);
}

div.header {
  positon: relative;
  width: 100%;
  height: 100%;
}

#banner {
  float: left;
}

#sitetitle {
  float: right;
}

.clear {
  clear: both;
}

a.title {
  align: right;
  text-align: right;
  text-decoration: none;
}

a span {
  align: right;
}

h1 {
  font-family: fiftyShadesMock;
  line-height: 1;
  margin: 0px;
  text-align: right;
}

#sitetitle0 {
  color: white;
}

#sitetitle1 {
  color: #C0C0C0;
}
